<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EVENT_LIST</title>
    <link rel="stylesheet" href="../../static/assets/styles/bootstrap-/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/assets/styles/main.css">
</head>
<body>
<h1>EVENT_LIST</h1>
<table class="table caption-top">
  <caption>upcoming events</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">title</th>
      <th scope="col">date</th>
      <th scope="col">location</th>
      <th scope="col">description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>sunset</td>
      <td>02/03.2026</td>
      <td>kasarani</td>
      <td>cars</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>wrc rally</td>
      <td>12/02.2026</td>
      <td>naivasha</td>
      <td>racing</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>valentines</td>
      <td>14/2.2026</td>
      <td>embakasi</td>
      <td>party</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>valentines</td>
      <td>14/2.2026</td>
      <td>embakasi</td>
      <td>party</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>valentines</td>
      <td>14/2.2026</td>
      <td>embakasi</td>
      <td>party</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>valentines</td>
      <td>14/2.2026</td>
      <td>embakasi</td>
      <td>party</td>
    </tr>
  </tbody>
</table>
<button>BACK</button>
<footer>
    &copy online event . All rights reserved.
</footer>
</body>
</html>